.DS_Store
build/
.waf*
.lock-waf_darwin_build
*.pyc
.lock-waf*
waf*
callgrind.*
*.log
*.config
EntitySystem/Autogen/
example/PyClientExample/
!example/PyClientExample/Messages/protobufHelper.py
!example/PyClientExample/Components/__init__.py
